# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Build output
dist/
build/
.out/

# Environment variables
.env
.env.local
.env.*.local

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Coverage reports
coverage/
*.lcov

# Test output
test-output/
jest-html-reporters-*.html

# Optional for TypeScript
*.tsbuildinfo

# Optional for React
*.cache/
.cache-loader/
